/test_old
/tool_old
/.idea
/out
/.vs
/build
/doxygen_output
CMakeSettings.json
/go_tool/.idea
/go_tool/build
/examples
/cli_tool/build
/cli_tool/.idea
/releases
/test/.idea
/test/cmake-build-debug
/old*
/example/.idea
/example/cmake-build-debug
/TestHttpServer